@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}
#navcolor{
    background-color: #ff930a;
}
#fontcolor{
    color: #fff7fb;
}
#navlink a:link {
    color: #FFFFFF;
}
#navlink a:visited {
    color: #FFFFFF;
}
.navbar-default .navbar-brand {
    color: #3347ff;
}
.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

div.fileinputs {
    position: relative;
}

div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.drop-area {
    width: 100px;
    height: 25px;
    border: 1px solid #999;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#thumbnail, div.removepic {
    display: flex;
    flex-wrap: wrap;
}

#thumbnail img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#thumbnail div.removepic:hover {
    display: inline-block;
    border: 1px dashed red;
}



#thumbnail2, div.removepic {
    display: flex;
    flex-wrap: wrap;
}

#thumbnail2 img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#thumbnail2 div.removepic:hover {
    display: inline-block;
    border: 1px dashed red;
}

canvas {
    border: 1px solid red;
}
hr.style19 {
    border-top: 4px solid #000;
}
/*input.file {*/
/*    position: relative;*/
/*    text-align: right;*/
/*    -moz-opacity: 0;*/
/*    filter: alpha(opacity:0);*/
/*    opacity: 0;*/
/*    z-index: 2;*/
/*}*/

#showImage {
    display: none;
}

#showImage[src] {
    display: block;
    height: 250px;
    border: solid 5px #000;
    border-radius: 5px;
    margin-top: 30px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float:right;
}

.switch2 {
    position: relative;
    display: inline-block;
    max-width: 60px;
    height: 34px;
    float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}
.switch2 input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 9px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked + .slider {
    background-color: #444;
}
input.primary:checked + .slider {
    background-color: #2196F3;
}
input.success:checked + .slider {
    background-color: #8bc34a;
}
input.info:checked + .slider {
    background-color: #3de0f5;
}
input.warning:checked + .slider {
    background-color: #FFC107;
}
input.danger:checked + .slider {
    background-color: #f44336;
}
input.pink:checked + .slider {
    background-color: #f400b8;
}
input.green:checked + .slider {
    background-color: #60f420;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    margin-bottom: 10px;
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.drop-area {
    width: 100px;
    height: 25px;
    border: 1px solid #999;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#thumbnail, div.removepic {
    display: flex;
    flex-wrap: wrap;
}

#thumbnail img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#thumbnail div.removepic:hover {
    display: inline-block;
    border: 1px dashed red;
}

#thumbnail2, div.removepic {
    display: flex;
    flex-wrap: wrap;
}

#thumbnail2 img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#thumbnail2 div.removepic:hover {
    display: inline-block;
    border: 1px dashed red;
}

canvas {
    border: 1px solid red;
}

